* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem now = 10 pixels*/
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(90, 162, 255);
}
.kick-pad.active {
  background: rgb(1, 88, 201);
}

.snare-pad {
  background: rgb(164, 82, 219);
}
.snare-pad.active {
  background: rgb(137, 0, 228);
}

.hihat-pad {
  background: rgb(76, 214, 76);
}
.hihat-pad.active {
  background: rgb(0, 163, 0);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}

.controls button {
  padding: 0.8rem;
  border: none;
  background: rgb(97, 97, 97);
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
select {
  padding: 1rem;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background: rgb(97, 97, 97);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
